# Dependencies
node_modules/

# Build output
dist/

# Cache
.cache/
webpack-cache/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor settings (optional)
.vscode/