@import url('./background.css');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    background: linear-gradient(var(--bg-start), var(--bg-end));
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.toggle{
    position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;

}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  transition: 0.3s;
  border-radius: 26px;
}

/* Slider circle */
.slider::before {
  position: absolute;
  content: "°C";
  height: 30px;
  width: 30px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}
/* When checked */
.toggle input:checked + .slider {
  background-color: rgba(44, 44, 44, 0.5);
  
}

.toggle input:checked + .slider::before {
  transform: translateX(24px);
  content: "°F";
}
header{ 
  width: 100vw;
}
form {
      display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
    justify-self: center;
    padding-top: 1.5rem;
  
}
#address {
  display: flex;
  flex-direction: column;
  grid-column: 2/8;
  grid-row: 2/4;
}
#temp {
  display: flex;
  flex-direction: column;
  grid-column: 2/8;
  grid-row: 4/6;
}
#condition {
  display: flex;
  flex-direction: column;
  grid-column: 2/8;
  grid-row: 6/8;
}

#humidity {
  display: flex;
  flex-direction: column;
grid-column: 8/12;
grid-row: 2/4;
}
#sun {
  display: flex;
  flex-direction: column;
  grid-column: 8/12;
  grid-row: 4/6;
}
#wind {
  display: flex;
  flex-direction: column;
  grid-column: 8/12;
  grid-row: 6/8;
}


#weatherHere {
  width: 100vw;
  height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 78, 78, 0.2);
  
  border-radius: 10px;
  color: white;
  margin: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

#search-bar {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fa-solid{
  font-size: 3rem;
}